<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Сброс пароля</title>
</head>
<body>
<h2>Сброс пароля</h2>

<!-- Отображение ошибки, если токен уже использован -->
<p th:if="${error}" style="color: red" th:text="${error}"></p>

<!-- Форма сброса пароля -->
<form th:action="@{/newPasswordUser}" method="post" th:object="${reset}">
  <input type="text" name="email" th:value="${reset.getEmail()}"/>
  <p>token</p>
  <input type="text" name="token" th:value="${token}"/>.
  <p>new password</p>
  <input type="text" name="password" th:value="${password}"/>
  <p>repeat password</p>
  <input type="text" name="repeatPassword" th:value="${repeatPassword}"/>
  <button type="submit">Сбросить пароль</button>
</form>
</body>
</html>
