<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
<h2>Сброс пароля</h2>

<!-- Отображение ошибки, если токен уже использован -->
<p th:if="${error}" style="color: red" th:text="${error}"></p>

<!-- Форма сброса пароля -->
<form th:action="@{/new-password-user}" method="post" th:object="${reset}">
    <input th:value="${reset.getEmail()}" type="text" hidden="hidden" name="email"/>
    <label for="token">Token:</label>
    <input type="text" name="token" id="token" th:value="${token}"/>.
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" th:value="${password}"/>
    <label for="repeatPassword">Repeat Password:</label>
    <input type="text" name="repeatPassword" id="repeatPassword" th:value="${repeatPassword}"/>
    <button type="submit">Сбросить пароль</button>
</form>
</body>
</html>
