<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
<h2>Сброс пароля</h2>

<!-- Отображение ошибки, если токен уже использован -->
<p th:if="${error}" style="color: red" th:text="${error}"></p>

<!-- Форма сброса пароля -->
<form th:action="@{/reset-password}" method="post" th:object="${user}">
    <h1>Введите email</h1>
    <input type="text" name="email" th:value="${email}"/>
    <button type="submit">Сбросить пароль</button>
</form>
</body>
</html>
